#movie {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
#movie .movie{
    border: 1px solid;
    border-radius: 1rem;
}
#movie .movie img{
    width: 29rem;
    height: 26rem;
    border-radius: 1rem 1rem 0 0;
}
#movie .movie .span{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0.5rem 1rem;
    width: 27rem;
    background-color: #e7e7e7;
    margin-top: -.3rem;
    border-radius: 0 0 1rem 1rem;
}
#movie .movie .span div{
    display: flex;
    justify-content: center;
}
#movie .movie .span div a{
    border: 1px solid;
    text-decoration: none;
    color: black;
    background-color: #ff000087;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
}
#movie .movie .span div a:hover {
    color: white;
    background-color: red;
}